.btn {
	display: grid;
	width: 10em;
}

#closeButton {
	margin-top: 10em;
	background-color: rgba(201, 76, 76, 0.3);
	color: black;
}

#plusButton {
	margin-top: 2em;
	background-color: rgba(19, 39, 88, 0.67);
}

.main_menu {
	margin-top: 5em;
	display: grid;
}

img {
	width: 10em;
}

#add_cart {
	width: fit-content;
}